@import 'tailwindcss';

/* Apply DM Sans as the default font */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap'); */

@theme {
  --color-neutral-50  : #f7f7f8;
  --color-neutral-100 : #edebef;
  --color-neutral-200 : #dbd8df;
  --color-neutral-300 : #c9c4cf;
  --color-neutral-400 : #b8b1bf;
  --color-neutral-500 : #a69dae;
  --color-neutral-600 : #948a9e;
  --color-neutral-700 : #83778f;
  --color-neutral-800 : #574e5f;
  --color-neutral-900 : #2b2730;
  --color-neutral-950 : #171519;

  --color-primary-50  : #f4ecfb;
  --color-primary-100 : #ebddf7;
  --color-primary-200 : #dbc1f1;
  --color-primary-300 : #c59ae6;
  --color-primary-400 : #ae72da;
  --color-primary-500 : #9044c4;
  --color-primary-600 : #8441af;
  --color-primary-700 : #6f3990;
  --color-primary-800 : #5b2f74;
  --color-primary-900 : #3d1853;
  --color-primary-950 : #251032;

  --color-error-container   : #fde3e5;
  --color-error-on-f        : #f3767f;
  --color-error-on          : #e63946;
  --color-error-on-t        : #b3222d;

  --color-warning-container : #faeacb;
  --warning-on-f            : #f9c88d;
  --color-warning-on        : #e67e22;
  --color-warning-on-t      : #a83e15;

  --color-success-container : #d5f6de;
  --color-warning-on-f      : #90deb0;
  --color-success-on        : #20a95d;
  --color-success-on-t      : #0f6d3d;

  --color-background        : #fdfcfd;

  --service-button-1        : #F5DBA6;
  --service-button-2        : #E4A243;
  --service-button-3        : #9D6B50;
  --service-button-4        : #E63946;

}

body {
    font-family: 'DM Sans', sans-serif;
}


@media screen and (max-width: 768px) {

}

.text-dashboard-header {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #9044C4;
    letter-spacing: -0.02em;
}

/* ------------------ Global Styles ------------------ */
/* add global formatting here */
.container {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    border: 1px solidrgba(209, 250, 229, 0);
    /* Tailwind green-100 */
}

/* Common styles for input boxes */
.input-box {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
}

/* Card style */
.card {
    margin-top: 30px;
    background: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 2px 13px 3px rgba(0, 0, 0, 0.25);
    /* box-shadow: 0 4px 6px rgba(35, 2, 2, 0.1); */
}

/* Card style */
.card2 {
    background: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 2px 13px 3px rgba(0, 0, 0, 0.25);
    /* box-shadow: 0 4px 6px rgba(35, 2, 2, 0.1); */
}

/* Flex container for time & turnaround inputs */
.flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.w-30 {
    width: 8rem;
    /* Approximate fixed width */
}

.text-label {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    letter-spacing: -0.05em;

    /* Neutrals/Neutral - 800 */
    color: #574E5F;
}


/*=============== Scrollbars============ */

::-webkit-scrollbar {
    width: 5px !important;
}

::-webkit-scrollbar-thumb {
    background: #bca5cb !important;
    border-radius: 5px !important;
}

::-webkit-scrollbar-track {
    background: #DCDCDC !important;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #6a3191 !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hover */
.hover\:text-primary-400:hover {
    color: #AE72DA !important;
}